.statWrapper {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    margin-bottom: 20px;
    color: olivedrab;
    font-weight: bold;
}

.totalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: olive;
    font-weight: 600;
}